body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .todo-container {
    background: #fff;
    width: 90%;
    max-width: 500px;
    min-height: 90%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  #title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }

  #week-container {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }  
   
  #week-container button {
    background: #f9f9f9;
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
  }
  
  #week-container button:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }

  #week-container button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
    
  #week-container button:first-child {
    color: red;
    border-color: rgb(233, 160, 160);
  }
  
  #week-container button:first-child:hover {
    background-color: rgb(233, 160, 160);
    color: white;
  }

  #week-container button:first-child.active {
    background-color: rgb(233, 160, 160);
    color: white;
  }
  
  .input-container {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    height: 15px;
  }
  
  #add-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    height: 100%;
    line-height: 15px;  /* 텍스트를 세로로 가운데 정렬 */ 
  }
  
  #add-btn:hover {
    background-color: #0056b3;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .todo-list li {
    background: #f9f9f9;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .check-box {
    margin-right: 15px;
  }
  
  .delete-btn {
    width: 20px;
    height: 20px;
    background: #dc3545;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background: #c82333;
  }
  
  .completed {
    text-decoration: line-through;
    color: #aaa;
  }
  